body
{
    background-color: #555;
}

/*
.css-selector-demo
{
    margin: 300px;
    padding: 20px;

}
*/
.el
{
    margin-top: 200px;
    height: 50px;
    width: 50px;
    background-color: #00ffff;
}